
.idea/


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log


*.ipynb_checkpoints


*.env
.env/
.envrc
venv/
.venv/


*.conda
*.egg-info/
*.egg


*.pt
*.h5
*.ckpt
*.onnx
*.tflite
*.pb
*.weights


dataset/
datasets/
outputs/
runs/
results/
logs/

client/image/

.DS_Store
Thumbs.db


.streamlit/config.toml
.streamlit/secrets.toml

.vscode/